/* Header Font Family */
@font-face {
  font-family: Raleway;
  src: url(https://fonts.google.com/specimen/Raleway);
}

/* Body Font Family */
@font-face {
  font-family: Opensans;
  src: url(https://fonts.google.com/specimen/Open+Sans);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Opensans;
}
