/* Header Font Family */
@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/static/Raleway-Regular.ttf);
}

/* Body Font Family */
@font-face {
  font-family: Opensans;
  src: url(../assets/fonts/static/OpenSans-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Opensans", sans-serif;
  list-style: none;
  text-decoration: none;
  
}

body {
  width: 100vw;
  height: 100vh;
  background: hsl(218, 28%, 13%);
  color: white;
}
